p{
    color:#0f3433;
}
h6{
    color:#004643;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}
.bordas{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}