.principal{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    }

footer{
    height: 30px;
    text-align: center;
}

.vaContainer, .liContainer{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*################### ESTILO BODY ###########*/

* {
    margin: 0%;
    padding: 0%;
}

body {
    margin: 0%;
}

body {
    background-image: url(../src/assets/imagens/imagem_de_fundo1900.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*################### ESTILO VIDEO ###########*/

.video {
    margin-top: 80px;
  }
  
  @media (max-width: 749px) {
    div.video {
      margin: 80px 0px 50px 0px;
      background-color: var(--cor5);
      padding: 20px;
      padding-bottom: 50%;
      position: relative;
      width: 95vw;
      height: 100%;
    }
    
    div.video > iframe {
      position: absolute;
      top: 5%;
      left: 5%;
      height: 90%;
      width: 90%;
    }
  }
  

  /* ############# ESTILO TITULO HOME ############# */

  .titulo_home {
    font-size: 1.2rem;
    line-height: 2em;
    margin: 30px 15vw;
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
  }
  
  #coorDown {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
/* ########## ESTILO PÁGINA HOME ########### */


.nome_home {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #DDA83F;
    width: 95vw;
    text-align: center;
    font-weight: bolder;
}

.nome_home2 {
    color: #CEDEEB;
    font-style: italic;
}


/* ######## ESTILO PÁGINA O QUE FAZEMOS ######### */


.text_primary {
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.1);
    color: #DDA83F;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 50px 0;
    width: 95vw;
    text-align: center;
  }
  
  .paragQmSm {
    margin: 50px 20px;
    font-size: 1.3em;
    justify-content: center;
    color:black;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .principal_quem_somos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
  }

  .principal_quem_somos div {
      display: inline-block;
      text-align: center;
      margin: 25px 0 15px 0;
  }


/* ######### ESTILO PÁGINA QUEM SOMOS ########## */

.principal_qmsm {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 3%;
}

.principal_qmsm img {
    margin-top: 10%;
}

.item1_qmsm {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.item2_qmsm {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    border-radius: 50%;
}

.titulo_qmsm {
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.1);
    color: #DDA83F;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 50px 0;
    width: 95%;
    text-align: center;
}

@media (max-width: 700px) {
    .principal_qmsm {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 50%px 0px;
    }

    .principal_qmsm img {
        border-radius: 50%;
        margin: 30% 0 15% 0;
        width: 200px;
    }
}

.titulo_qmsm {
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.1);
    color: #DDA83F;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 50px 0;
    width: 95%;
    text-align: center;
}

.parag_qmsm {
    line-height: 1.8rem;
    font-size: 1.4rem;
    text-justify: auto;
    text-indent: 10%;
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
    backdrop-filter: blur(10px);
    
}




/*################### ESTILO CAPACITAÇÃO PROFISSIONAL ################*/


.img_cap {
    margin-top: -10%;
}


.rodape_cap {
    margin:50px 0px 0px;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.parag_qmsm {
    line-height: 1.8rem;
    font-size: 1.4rem;
    text-justify: auto;
    text-indent: 10%;
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
    backdrop-filter: blur(10px);
    
}



/* ################ CAPACITAÇÃO PROFISSIPNAL ############### */

.titulo_cap {
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.1);
    color: #DDA83F;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 50px 0;
    width: 100%;
    text-align: center;
}

.nome_link {
    text-decoration: none;
    font-weight: bold;
}

.primeiro_nome {
    color: #DDA83F;
}

.segundo_nome {
    color: #CEDEEB;
    font-style: italic;
}

/* ################ CAPACITAÇÃO PROFISSIPNAL ############### */

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}
.bordas{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

  /* ########### ESTILO RODA PÉ ########### */

  .RodaPe {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 50px;
    
}


/* ###########  cadastro ########### */

.textCadastro {
    font-size: 1.2rem;
    line-height: 1.5em;    
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 0.5rem;
    border-radius: 10px;
  }

  .btn-color{
      color: black
  }